### PySpark GroupBy and Aggregate Functions

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

24/04/04 08:26:19 WARN Utils: Your hostname, Phoenxs-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.102.52 instead (on interface en0)
24/04/04 08:26:19 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/04 08:26:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df = spark.read.csv('table5.csv', header=True, inferSchema=True)
df.show()

+-------+-----------+------+
|   Name| Department|Salary|
+-------+-----------+------+
|  Alice|         HR| 60000|
|    Bob|Engineering| 75000|
|Charlie|  Marketing| 60000|
|  David|Engineering| 75000|
|    Eve|    Finance| 80000|
|  Frank|         HR| 60000|
|    Bob|    Finance| 80000|
|    Bob|  Marketing| 70000|
|  Grace|         HR| 70000|
+-------+-----------+------+

##### Groupby Operations

In [3]:
# Grouped to find the maximum salary by doing summation of the salary of a single name.
df.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
|  Grace|      70000|
|Charlie|      60000|
|    Bob|     225000|
|  Alice|      60000|
|    Eve|      80000|
|  David|      75000|
|  Frank|      60000|
+-------+-----------+

##### GroupBy methods
---------------------------------------------
- agg     |   apply     |   applyInPandas   |
- avg     |   cogroup   |   count           |
- max     |   mean      |   min             |
- pivot   |   sql_ctx   |   sum             |
---------------------------------------------

In [4]:
# GroupBy Department. 
df.groupBy(df['Department']).sum().show()

# Group by Department with mean Salary.
df.groupBy(df['Department']).mean().show()

# Group by Department with count of Employees in each department.
df.groupBy(df['Department']).count().show()

+-----------+-----------+
| Department|sum(Salary)|
+-----------+-----------+
|Engineering|     150000|
|         HR|     190000|
|    Finance|     160000|
|  Marketing|     130000|
+-----------+-----------+

+-----------+------------------+
| Department|       avg(Salary)|
+-----------+------------------+
|Engineering|           75000.0|
|         HR|63333.333333333336|
|    Finance|           80000.0|
|  Marketing|           65000.0|
+-----------+------------------+

+-----------+-----+
| Department|count|
+-----------+-----+
|Engineering|    2|
|         HR|    3|
|    Finance|    2|
|  Marketing|    2|
+-----------+-----+

In [10]:
# Aggregate function
df.agg({'Salary': 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     630000|
+-----------+

In [14]:
# Max data in a dataframe.
df.groupBy('Department').max().show()

+-----------+-----------+
| Department|max(Salary)|
+-----------+-----------+
|Engineering|      75000|
|         HR|      70000|
|    Finance|      80000|
|  Marketing|      70000|
+-----------+-----------+